body {
    text-align: center;
    font-family: sans-serif;
    font-size: large;
}

button {
    font-family: sans-serif;
    font-size: large;
    background-color: black;
    color: white;
    border: none;
    width: 124px;
    height: 2cm;
}